* {
    padding: 0;
    margin: 0;
    font-family: monospace;
    color: #ddd;
}

body {
    background: #111;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
button, a {
    background: #111;
    border: 0px;
    color: #ddd;
    text-decoration: none;
    text-align: center;
}

/* .movie > *:not(:first-child) {
    display: none;
} */



/* Element | http://localhost/movie_front/#Q1729018 */

body {
    flex-direction: column;
  }
  
  /* Element | http://localhost/movie_front/#Q1729018 */
  
  #posters {
    display: flex;
    flex-flow: row wrap;
  }
  
  /* Element | http://localhost/movie_front/#Q1729018 */
  
  #buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  #posters > .movie {
    display: flex;
    /* background: yellow; */
    align-content: center;
    align-items: center;
  }
  

/* Element | http://localhost/movie_front/#Q1729018 */
div.movie {
    display: flex;
    flex-grow: 1;
}
div.movie > div {
    display: flex;
    align-content: center;
    align-items: center;
    flex-grow: 1;
  }
  button, a {
    padding: 0.75rem;
    cursor: pointer;
    flex-grow: 1;
  }
  button {
    padding: 1rem;
    background: #222;
  }


#posters a {
    color: #bbb;
  }
  #posters a:hover {
    color: #ddd;
  }

  #posters .movie {
    flex-direction: column;
}

.poster_links {
    align-self: stretch;
}

.movie_poster {
  width: 28vh;
  height: 42vh;
  overflow: hidden;
}

.movie_poster > img {
  cursor: pointer;
  width: 100%;
}

#header {
  display: flex;
  align-content: center;
  align-items: center;
}

#header > a {
  flex-grow: 0;
  padding: 0.4rem;
}

#search {
  background: #222;
  border: 0px;
  padding: 0.5rem;
  flex-grow: 1;
  margin-right: 1rem;
  margin-left: 0.5rem;
}
#infos {
  margin-right: 1rem;
}